.flex-col {
	display: flex;
	flex-direction: column;
}

.gap-025 {
	gap: 0.25rem;
}
.gap-033 {
	gap: 0.33rem;
}
.gap-05 {
	gap: 0.5rem;
}
.gap-15 {
	gap: 1.5rem;
}
.gap-1 {
	gap: 1rem;
}
.gap-2 {
	gap: 2rem;
}
.gap-3 {
	gap: 3rem;
}

.position-fixed {
	position: fixed;
}
