section#section-hero {
  --she-py: 6rem;
  background-color: var(--cp-1-900);
  color: var(--cp-bg-primary);
  padding-top: var(--she-py);
  padding-bottom: var(--she-py);
  @media (min-width: 769px) {
    --she-py: unset;
    height: calc(100vh - 90px);
  }
  a {
    color: var(--cp-bg-primary);
  }
  .container {
    height: 100%;
    align-items: center;
    justify-content: center;
    #she-top {
      text-align: center;
      #she-logo-wr {
        --she-logo-size: 80px;
        width: var(--she-logo-size);
        height: var(--she-logo-size);
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    #she-bot {
      text-align: center;
      ul.lns#she-bot-list {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-wrap: wrap;
        li {
          a {
            position: relative;
            padding: 0 0.5rem;
            &:before {
              content: "[";
              position: absolute;
              left: 0;
            }
            &:after {
              content: "]";
              position: absolute;
              right: 0;
            }
          }
        }
      }
    }
  }
}
